# Fichier d'exemple pour la configuration.
# INSTRUCTIONS : Renommez ce fichier en ".env" et remplacez les valeurs par les vôtres.

# Clé secrète Flask (utilisée pour sécuriser les sessions)
SECRET_KEY=remplacez_moi_par_une_cle_secrete_aleatoire

# URL de connexion à la base de données MariaDB
# Format : mysql+pymysql://utilisateur:mot_de_passe@serveur/nom_de_la_base
DATABASE_URL=mysql+pymysql://root:votre_mot_de_passe@127.0.0.1/nom_de_votre_bdd